.center{
    border-radius: 50%;
    padding: 10px;
    border: solid;
    border-color: rgb(114, 240, 135);
    border-width: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.headingpara{
    text-align: center;
    font-size: 25px;
    border: solid rgb(114, 240, 135) 5px;
    background-color: rgb(199, 198, 198);
    font-family: Sansita Swashed, cursive;
}
.barrister{
    background-size: cover;
    float: right;
    text-align: right;
    height: 450px;
    width: 300px;
    font-size: 22px;
    border: solid rgba(76, 248, 139, 0.7) 7px;
    border-radius: 20%;
    overflow: hidden;
}
.cite{
    float: right;
}
.EarlyLife{
    font-size: 19px;
    line-height: 1.5;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.iqbaladdress{
    background-color: rgb(167, 168, 170);
    font-style: italic;
    border: 7px;
    border: solid rgba(76, 248, 139, 0.7) 7px;
    border-radius: 10%;
}
.mount{
    float: right;
    font-size: 22px;
}
.link{
    background-color: rgb(167, 168, 170);
    height: 100px;
    width: 100%;
    border: 1px;
}